@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;900&display=swap");

@layer base {
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    @apply bg-amber-100 selection:bg-amber-300;
  }

  h1 {
    @apply text-amber-600 font-black text-xl mb-3;
  }

  h2 {
    @apply font-black text-lg mb-2;
  }

  p {
    @apply mb-4;
  }

  table {
    @apply w-full text-left border px-2 py-1 bg-white rounded;
  }

  ol {
    @apply list-decimal ml-4;

    li {
      @apply mb-2 pl-1;
    }
  }
}

@layer components {
  .button {
    @apply px-2 py-4 flex items-center justify-center font-bold rounded-lg bg-amber-100 border border-amber-200 text-amber-600;

    &:disabled {
      @apply pointer-events-none opacity-30;
    }
  }

  .h-card {
    @apply h-[95vh];
  }
}

.swiper-slide {
  height: auto !important;
  @apply flex;
}

@media print {
  .max-w-lg {
    max-width: 100% !important;
    width: 100% !important;
  }

  .print-d-none {
    display: none !important;
  }

  .text-center {
    text-align: left !important;
  }

  .mt-10 {
    margin: 0 auto;
  }
}

@media (hover: hover) {
  .device-touchscreen {
    display: none !important;
  }
}

@media (pointer: coarse) and (hover: none) {
  .device-not-touchscreen {
    display: none !important;
  }
}
